<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>proyek sysprog</title>
</head>
<body>
    <div class="center">
        <h1>proyek sysprog</h1>
    
        <div class="circle">
            <div class="small"></div>
            <div class="big"></div>
        </div>
    
        <div class="tanggal">
            nama partisinya apa
        </div>
    
        <div class="data">
            <p><strong>detail</strong></p>
            <p>detail 1</p>
            <p><strong>detail</strong></p>
            <p>detail 2</p>
            <p><strong>detail</strong></p>
            <p>detail 3</p>
        </div>
    
        <a href="/" class="button-light">Kembali</a>
        <a href="/hapus/{{data.id}}" class="button-dark" id="hapus">Hapus</a>
    </div>
</body>
</html>