<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>proyek sysprog</title>
</head>
<body>
    <div class="center">
        <h1>proyek sysprog</h1>
    
        <div class="circle">
            <div class="small"></div>
            <div class="big"></div>
        </div>
    
        <div class="tanggal">
           
        </div>
    
        <div class="data">
            <p><strong>Number</strong></p>
            <p>{{result.0}}</p>
            <p><strong>Start</strong></p>
            <p>{{result.1}}</p>
            <p><strong>End</strong></p>
            <p>{{result.2}}</p>
	    <p><strong>Size</strong></p>
	    <p>{{result.3}}</p>
		<p><strong>Type</strong></p>
		<p>{{result.4}}</p>
		<p><strong>File System</strong></p>
		<p>{{result.5}}</p>
        </div>
    
        <a href="/" class="button-light">Kembali</a>
        <a href="/hapus/{{result.0}}" class="button-dark" id="hapus">Hapus</a>
    </div>
</body>
</html>
