<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <title>proyek sysprog</title>
</head>
<body>
    <div class="center">
        <h1>proyek sysprog</h1>
    
        <div class="circle">
            <div class="small"></div>
            <div class="big"></div>
        </div>
    
        {% if result %}

        <table class="round-table">
            <div class="header">
                <tr>
                    <th>Number</th>
			<th>Start</th>
	          	<th>End</th>
                    <th>Size</th>
		    <th>Type</th>
		    <th>File System</th>
                </tr>
            </div>
            <tr class="separator">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tbody>
                
		{% for i in result %}
		<tr class="row" onclick="location.href='detail/{{i.0}}';">				
                    {% for j in i %}
		   	 <td>{{ j }}</td>
                    {% endfor %}
                </tr>
		{% endfor %}
            </tbody>
        </table>

        <a href="/tambah" class="button-dark" id="tambah">Tambahkan Partisi</a>
        
        {% endif %}

        {% if not result %}

        <h2>Halo! Silakan masukkan USB dan reload page ini.</h2>

        {% endif %}
    
    </div>

</body>
</html>
